<<<<<<< Updated upstream
#bodyStyle{
style="background-image: radial-gradient(circle at 43.84% -20.44%, #feffa0 0, #efffa0 6.25%, #dfffa0 12.5%, #cdffa2 18.75%, #b9ffa4 25%, #a3fda7 31.25%, #89faab 37.5%, #6af6af 43.75%, #3cf2b5 50%, #00edbc 56.25%, #00e9c5 62.5%, #00e4cf 68.75%, #00e0da 75%, #00dce5 81.25%, #00d8f2 87.5%, #00d5fe 93.75%, #00d1ff 100%);"
}

#menu li{
	padding: 15px;
	display: inline;
	font-family:Arial;
	font-size: 16px;
	width:2000px;
}
#imagenes_c{
	vertical-align:middle;
	width:200px;
	height: 50px;
	border-radius:8px;
	padding: 5px;
}
#titulo{
	vertical-align:middle;
	align: center;
	font-size: 50px;
	color:blue;
}
#superior{
	vertical-align:middle;
	align: center;
}
#p_principal{
	color:black;
	text-align: justify;
	font-size: 24px;
}
#p_acerca{
	color:black;
	text-align: justify;
	font-size: 24px;
=======
#top_body{
	background-color: black;
	vertical-align: bottom;
	font-family: "Algerian";
	text-shadow: 1px 1px 2px black, 0 0 1em cyan, 0 0 0.2em blue;
	color:white;
	font-size: 48px;
	text-align: center;
		}		
#navigation_body{
	background: url("head.jpg");
	font-family: "Arial";
	color:white;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
		}	
#navigationMenu li{
	padding: 32px;
	background:url("head.jpg");
	display: inline;
}	
#content_body{
	background: url("ContentBG.jpg");
		}
#content_body h1{
	background-color: rgba(51, 255, 255, 0.7);
	border-radius: 32px;
	color:lime;
	text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em blue;
	text-align:center;
	padding:10px;
	font-size:32px;
		}		
#content_body p{
	background-color: rgba(51, 255, 255, 0.5);;
	border-radius: 32px;
	color:white;
	text-shadow: 1px 1px 2px black, 0 0 1em cyan, 0 0 0.2em blue;
	text-align:justify;
	padding:10px;
	font-size: 28px;
		}
#bottom_body{

		}		

#menu {
	display: inline;
	font-family:Arial;
	font-size: 20px;
>>>>>>> Stashed changes
}



